@import url("../App.css");

.container {
    position: fixed;
    bottom: 5%;
    /* manter distancia igual à do container da aplicação em App.js */
    right: var(--distance-x);
    left: var(--distance-x);
}