.App {
    height: 100vh;
    background-color: #f8f9fa;
}

.App .app-content {
    padding: 20px 20vw;
}


@media only screen and (max-width: 1000px) {
    .App .app-content {
        padding: 20px;
    }
}