:root {
    /* distancias entre as margens da tela e o conteúdo */
    --distance-x: 20vw;
    --distance-y: 20px;
}

@media only screen and (max-width: 1000px) {
    :root {
        /* reduzir distancia em telas menores */
        --distance-x: 20px;
    }
}

.App {
    height: 100vh;
    background-color: #f8f9fa;
}

.App .app-content {
    padding: var(--distance-y) var(--distance-x);
}